:root{
    --cor-de-fundo: #ffffff;
    --cor-da-borda: #B7CECE;
    --cor-de-fundo-click: #5AB5E5;
    --cor-da-borda-click: #F18F01 ;

}

html {
  scroll-behavior: smooth;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--cor-de-fundo);

}


.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container__image{
    text-align: center;
    
}

.title{
    width: 90%;
    border: 3px solid var(--cor-da-borda);
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.7em auto;
    background-color: var(--cor-da-borda);
}


.image{
    padding: 15px;
    border: 3px solid var(--cor-da-borda);
    border-radius: 10px;
    width: 300px;
    height: 290px;
    margin-bottom: 5em;
    
}

.active{
    border-color: var(--cor-da-borda-click) ;
    background-color: var(--cor-de-fundo-click);
    

}
