:root{
    --cor-de-fundo: #5AB5E5;
    --cor-da-borda: #ffffff;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--cor-de-fundo);

}


.container {
    width: 100vw;
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container__imagem{
    text-align: center;
    
}


.imagem{
    padding: 15px;
    border: 3px solid var(--cor-da-borda);
    border-radius: 10px;
    width: 300px;
    height: 290px;
    margin-bottom: 5em;
    
}

.imagem:active{
    border: #F18F01;
}